@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var root = "@Url.Content("~")";
</script>

<!DOCTYPE html>
<html>
<head>
    <title>Teetrees</title>
    <style>
    body      { font-family: Times New Roman, sans-serif; }
    #tetris   { margin: 1em auto; padding: 1em; border: 4px solid black; border-radius: 10px; background-color: darkslategray; }
    #stats    { display: inline-block; vertical-align: top; }
    #canvas   { display: inline-block; vertical-align: top; float: right; background:url("~/Content/Teetrees/texture.jpg"); box-shadow: 10px 10px 10px #999; border: 2px solid #333; }
    #menu     { display: inline-block; vertical-align: top; position: relative; }
    #menu p   { margin: 0.5em 0; text-align: center; }
    #menu p a { text-decoration: none; color: black; }
    #upcoming { display: block; margin: 0 auto; background-color: black; }
    #score    { color: red; font-weight: bold; vertical-align: middle; }
    #rows     { color: blue; font-weight: bold; vertical-align: middle; }
    #stats    { position: absolute; bottom: 0em; right: 1em; }
        #tetris {
            font-size: 2.25em;
            width: 850px;
            height: 800px;
        }
        
        #canvas{
            height: 700px;
            width: 400px;
        }
       #upcoming{
           width: -100px;
       }

    
    </style>
</head>
<body>
    <div id="tetris">
        <div id="menu">
            <p id="start"><a href="javascript:play();">Press Space to Play.</a></p>
            <p>Next<canvas id="upcoming"></canvas></p>
            <p>Score <span id="score">00000</span></p>
            <p>Rows<span id="rows">0</span></p>
        </div>
        <canvas id="canvas">
            Sorry, this example cannot be run because your browser does not support the &lt;canvas&gt; element
        </canvas>
    </div>

    <script src="~/Content/Teetrees/stats.js"></script>
    <script src="~/Content/Teetrees/game_logic.js"></script>

</body>
</html>
