@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<ul>
    <li>To play a game, click on the Game tab on the navigation bar. </li>
    <li>Register for an account so you can be on the leaderboards.</li>
    <li>Upload your own game! However, make sure your game fits the following requirements.</li>
    <ul>
        <li>Have a gamesmanifest file with the name of your game in it (case sensitive).</li>
        <li>Have a picture for a game image containing the word, "screenshot" in it.</li>
        <li>Have a gamescripts file with the name of your game (case sensitive), as well as any scripts you use for your game.</li>
    </ul>
    <li>Lastly, have fun!</li>
</ul>
