@{
    ViewBag.Title = "Games";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>@Html.ActionLink("Flappy Bird", "Flappy_Bird", "Game")</h4>
<img src="~/Content/images/screenshots/Flappy-Bird-Screenshot.png" height="256" width="192"/>